::-webkit-scrollbar {
    background: #fff;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(170, 178, 185);
}
.btn-hover:hover, .li-nav:hover{
    background-color: #f8f9fa;
    transition: background-color .5s;
}

.navbar-nav  li  a, .navbar  .navbar-text{
    text-decoration: none !important;
    cursor: pointer;
}
.footer-jumbotron{
    padding: 20px;
    background-color: #f8f9fa;
}
.footer-jumbotron > ul > li > a{
    font-weight: 600 !important;
    color: #808baf;
    cursor: pointer;
}
.container-help{
    padding: 80px;
}
